.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
.idea/

checkpoints/*.pt
demo/backend/checkpoints/*.pt

results/
sam2_logs/

data/
datasets/v2_cropped/
datasets/task1_coco_dataset_cropped/

mamba/mamba_ssm.egg-info/
mamba/build/
mamba/dist/
mamba/*.so
